h1 { color: #eb77a4; font-family: 'Lato', sans-serif; font-size: 54px; font-weight: 300; line-height: 58px; margin: 0 0 58px; background: #222; padding: 10px; text-align: center;}


p { color: #ffc0cb; font-family: 'Lucida Sans', Arial, sans-serif; font-size: 16px; line-height: 26px; text-indent: 30px; margin-bottom: 10; }


a { color: #eb77a4; text-decoration: underline; }


a:hover { color: #ffffff }


.date { background: #fe921f; color: #ffffff; display: inline-block; font-family: 'Lato', sans-serif; font-size: 12px; font-weight: bold; line-height: 12px; letter-spacing: 1px; margin: 0 0 30px; padding: 10px 15px 8px; text-transform: uppercase; }

body {
  background-color: #333;
  font-size: large;
}

li {
  margin: 0 0 10px 0;
}



@keyframes beat {
  0% {transform: scale(1) rotate(225deg); box-shadow:0 0 40px #d5093c;}
  50% {transform: scale(1.1) rotate(225deg); box-shadow:0 0 70px #d5093c;}
  100% {transform: scale(1) rotate(225deg); box-shadow:0 0 40px #d5093c;}
}


#chest {
  position:relative;
  width:500px;
  height:500px;
  margin:0 auto;
}
.heart {
  position:absolute;
  z-index:2;
  background: -moz-linear-gradient(-90deg, #F50A45 0%, #d5093c 40%);
  background: -webkit-gradient(linear, right 50%, left 50%, color-stop(0%,#F50A45), color-stop(40%,#d5093c));
  background: -webkit-linear-gradient(-90deg, #F50A45 0%,#d5093c 40%);
  background: linear-gradient(-90deg, #F50A45 0%,#d5093c 40%);
  -webkit-animation: beat 0.7s ease 0s infinite normal;
  -moz-animation: beat 0.7s ease 0s infinite normal;
  animation: beat 0.7s ease 0s infinite normal;
}
.heart.center {
  background: -moz-linear-gradient(-45deg, #B80734 0%, #d5093c 40%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#B80734), color-stop(40%,#d5093c));
  background: -webkit-linear-gradient(-45deg, #B80734 0%,#d5093c 40%);
  background: linear-gradient(-45deg, #B80734 0%,#d5093c 40%);
}
.heart.top {
  z-index:3;
}
.side {
  top:100px;
  width:220px;
  height:220px;
  border-radius: 220px;
}
.center {
  width:210px;
  height:210px;
  bottom:100px;
  left:145px;
  font-size:0;
  text-indent:-9999px;
}
.left {
  left:62px;
}
.right {
  right:62px;
}